html {
  width: 1878px;
  height: 100vh;
  margin: 50px auto;
}
body {
  margin: 0;
  padding: 0;
  width: 1878px;
  height: 100vh;
  margin: 0 auto;
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf')
      format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf')
      format('truetype');
  font-display: swap;
}

.banner {
  background-color: #fffcf0;
  width: 100%;
  height: 119px;
  border: 1px solid #d9d9d9;
}
.mb-3 {
  padding-top: 20px;
}

.back-arrow {
  margin-left: 50px;
  font-size: 35px;
}
.back-arrow a {
  text-decoration: none;
}

select {
  display: flex;
  position: relative;
}

.submit-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 30px;
  gap: 25px;
  flex-shrink: 0;
}

#button1 {
  background-color: #f5f5f5;
  color: #5bab93;
  border-color: #f5f5f5;
  display: flex;
  width: 150px;
  height: 40px;
  padding: 2.389px 7.167px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.778px;
  cursor: pointer;
  font-size: 17px;
  font-family: 'Pretendard-Bold';
}

#button2 {
  background-color: #5bab93;
  border-color: #5bab93;
  color: #f5f5f5;
  display: flex;
  width: 150px;
  height: 40px;
  padding: 2.389px 7.167px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.778px;
  cursor: pointer;
  font-size: 17px;
  font-family: 'Pretendard-Bold';
}

#title1 {
  color: #000;
  font-family: 'Pretendard-Bold';
  font-size: 30px;
  margin-left: 70px;
  margin-top: 50px;
}
.input-review {
  background-color: #f5f5f5;
  height: auto;
  margin-top: 80px;
}

.selected a {
  border-bottom: 2px solid #5bab93;
}

ul {
  margin-left: 10px;
  list-style-type: none;
}
li {
  float: left;
  margin-bottom: 50px;
}
li a {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: #000;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
li a:hover {
  color: #5bab93;
}

.review-write {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.input-review {
  background-color: #f5f5f5;
}
.form-section {
  display: flex;
  width: 100%;
  margin-left: 200px;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 35px;
}
.product {
  font-family: 'Pretendard-Bold';
  font-size: 25px;
  display: flex;
  align-items: baseline;
}

#name {
  margin-left: 422px;
  height: 40px;
  width: 315px;
}

.review-title {
  font-family: 'Pretendard-Bold';
  font-size: 25px;
  display: flex;
  align-items: baseline;
}
#title {
  margin-left: 395px;
  height: 40px;
  width: 315px;
}

.review-content {
  font-family: 'Pretendard-Bold';
  font-size: 25px;
  display: flex;
  align-items: baseline;
}
.review-content p {
  font-family: 'Pretendard-Bold';
  font-size: 15px;
}

#review-content {
  margin-left: 200px;
  width: 800px;
  height: 200px;
}

.text-bold {
  font-family: 'Pretendard-Bold';
  font-size: 25px;
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}
.review-image {
  font-family: 'Pretendard-Bold';
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 20px;
}

/* .form-section label {
  font-weight: bold;
  margin-top: 10px;
}

.form-section p {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #666;
}

.form-section select,
.form-section textarea {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form-section textarea {
  height: 100px;
  resize: vertical;
}

.form-section button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.form-section button:hover {
  background-color: #e7e7e7;
}

#backicon {
  position: absolute;
  left: 5%;
  top: 40px;
}

#photo-upload {
  width: 150px;
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #d9d9d9;

  background: #fff;
}
 */
