<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="../static/css/mypage.css"
  />
  </head>
  <body>
    <div id="header"></div>
    <div class="banner"></div>
    <div class="body">
      <div class="body top">
        <img class="userImg" src="../media/Ellipse 5.png" alt="userImg">
        <span id="name">냥냥이</span>
        <span class="settingImg"><img src="../media/Settings Gear.png" alt="settingImg"></span>
        <span id="id">orangorang2</span>
        <nav>
          <ul>
            <li><a href="#">마이 공구</a></li>
            <li><a href="#">마이 후기</a></li>
            <li><a href="#">참여한 공구</a></li>
            <li><a href="#">작성한 리뷰</a></li>
          </ul>
        </nav>
        <span class="reviewMaking">
          리뷰 작성하기
        </span>
      </div>
      <div class="body middle">
        <div class="my info title">
          <p>냥냥이 님의 공동 구매 프로젝트는</p>
        </div>
        <div class="my info contents">
          <p>실용적이에요 <label id="first"><progress value="55" max="100"></label></p>
          <p>친절해요<label id="second"><progress value="30" max="100"></progress></p>
          <p>계획에 맞게 진행되었어요<label id="third"><progress value="55" max="100"></progress></p>
          <p>의미 있어요<label id="fourth"><progress value="80" max="100"></progress></p>
          <p>퀄리티가 좋아요<label id="fifth"><progress value="55" max="100"></progress></p>
        </div>
        <div class="card container" id="card1">
          <div class="UIcard">
            <div class="card bottom">
              <div class="card textbox">
                <div class="text">
                  <div class="category">
                    <span class="category label"
                      >생필품 | 이화 파빌리온 앞 |
                    </span>
                    <span class="store">쿠팡</span>
                  </div>
                  <div class="product name">
                    해피데이 포켓형 대용량 핫팩 150g
                  </div>
                  <div class="additional text">
                    추워지는 날씨 핫팩으로 함께해요!
                  </div>
                </div>
              </div>
            </div>
            <div class="card top"></div>
          </div>
        </div>
        <div class="card container" id="card2">
          <div class="UIcard">
            <div class="card bottom">
              <div class="card textbox">
                <div class="text">
                  <div class="category">
                    <span class="category label"
                      >생필품 | 이화 파빌리온 앞 |
                    </span>
                    <span class="store">쿠팡</span>
                  </div>
                  <div class="product name">
                    해피데이 포켓형 대용량 핫팩 150g
                  </div>
                  <div class="additional text">
                    추워지는 날씨 핫팩으로 함께해요!
                  </div>
                </div>
              </div>
            </div>
            <div class="card top"></div>
          </div>
        </div>
        <div class="card container" id="card3">
          <div class="UIcard">
            <div class="card bottom">
              <div class="card textbox">
                <div class="text">
                  <div class="category">
                    <span class="category label"
                      >생필품 | 이화 파빌리온 앞 |
                    </span>
                    <span class="store">쿠팡</span>
                  </div>
                  <div class="product name">
                    해피데이 포켓형 대용량 핫팩 150g
                  </div>
                  <div class="additional text">
                    추워지는 날씨 핫팩으로 함께해요!
                  </div>
                </div>
              </div>
            </div>
            <div class="card top"></div>
          </div>
        </div>
        <div class="card container" id="card4">
          <div class="UIcard">
            <div class="card bottom">
              <div class="card textbox">
                <div class="text">
                  <div class="category">
                    <span class="category label"
                      >생필품 | 이화 파빌리온 앞 |
                    </span>
                    <span class="store">쿠팡</span>
                  </div>
                  <div class="product name">
                    해피데이 포켓형 대용량 핫팩 150g
                  </div>
                  <div class="additional text">
                    추워지는 날씨 핫팩으로 함께해요!
                  </div>
                </div>
              </div>
            </div>
            <div class="card top"></div>
          </div>
        </div>
        <div class="card container" id="card5">
          <div class="UIcard">
            <div class="card bottom">
              <div class="card textbox">
                <div class="text">
                  <div class="category">
                    <span class="category label"
                      >생필품 | 이화 파빌리온 앞 |
                    </span>
                    <span class="store">쿠팡</span>
                  </div>
                  <div class="product name">
                    해피데이 포켓형 대용량 핫팩 150g
                  </div>
                  <div class="additional text">
                    추워지는 날씨 핫팩으로 함께해요!
                  </div>
                </div>
              </div>
            </div>
            <div class="card top"></div>
          </div>
        </div>
        <div class="card container" id="card6">
          <div class="UIcard">
            <div class="card bottom">
              <div class="card textbox">
                <div class="text">
                  <div class="category">
                    <span class="category label"
                      >생필품 | 이화 파빌리온 앞 |
                    </span>
                    <span class="store">쿠팡</span>
                  </div>
                  <div class="product name">
                    해피데이 포켓형 대용량 핫팩 150g
                  </div>
                  <div class="additional text">
                    추워지는 날씨 핫팩으로 함께해요!
                  </div>
                </div>
              </div>
            </div>
            <div class="card top"></div>
          </div>
        </div>
        <div class="card container" id="card7">
          <div class="UIcard">
            <div class="card bottom">
              <div class="card textbox">
                <div class="text">
                  <div class="category">
                    <span class="category label"
                      >생필품 | 이화 파빌리온 앞 |
                    </span>
                    <span class="store">쿠팡</span>
                  </div>
                  <div class="product name">
                    해피데이 포켓형 대용량 핫팩 150g
                  </div>
                  <div class="additional text">
                    추워지는 날씨 핫팩으로 함께해요!
                  </div>
                </div>
              </div>
            </div>
            <div class="card top"></div>
          </div>
        </div>
        <div class="card container" id="card8">
          <div class="UIcard">
            <div class="card bottom">
              <div class="card textbox">
                <div class="text">
                  <div class="category">
                    <span class="category label"
                      >생필품 | 이화 파빌리온 앞 |
                    </span>
                    <span class="store">쿠팡</span>
                  </div>
                  <div class="product name">
                    해피데이 포켓형 대용량 핫팩 150g
                  </div>
                  <div class="additional text">
                    추워지는 날씨 핫팩으로 함께해요!
                  </div>
                </div>
              </div>
            </div>
            <div class="card top"></div>
          </div>
        </div>
        <div class="card container" id="card9">
          <div class="UIcard">
            <div class="card bottom">
              <div class="card textbox">
                <div class="text">
                  <div class="category">
                    <span class="category label"
                      >생필품 | 이화 파빌리온 앞 |
                    </span>
                    <span class="store">쿠팡</span>
                  </div>
                  <div class="product name">
                    해피데이 포켓형 대용량 핫팩 150g
                  </div>
                  <div class="additional text">
                    추워지는 날씨 핫팩으로 함께해요!
                  </div>
                </div>
              </div>
            </div>
            <div class="card top"></div>
          </div>
        </div>
        <div class="page number">
          <div><a href="#">1</a></div>
          <div><a href="#">2</a></div>
          <div><a href="#">3</a></div>
          <div><a href="#">4</a></div>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </body>
  <script>
    fetch("/header-before")
      .then((response) => response.text())
      .then((data) => {
        document.getElementById("header").innerHTML = data;
      });
  </script>
</html>
