<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../static/css/footer.css" />
  </head>
  <body>
    <div
      class="footertext"
      style="width: 1920px; height: 340px; display: flex; flex-direction: row; margin-left:518px; margin-top=54px;"
    >
      <div id="ftext1">회사명</div>
      <div id="ftext2">(주) 위시윗 |</div>
      <div id="ftext3">주소</div>
      <div id="ftext4">서울특별시 서대문구 이화여대길52 |</div>
      <div id="ftext5">대표</div>
      <div id="ftext6">최민주 차소연 이윤진 최영서 김수연 이현정</div>
    </div>
  </body>
</html>
